.mw-body {
  margin: 0 !important;
  padding: 0 !important;
}

.page-Accueil #firstHeading {
  display: none;
}

.page-Accueil #toc {
  display: none;
}

.page-Accueil h2,
h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
  padding: 0;
  border: none;
}

.page-Accueil h3 + h2 {
  margin-top: 0;
}

.page-Accueil h3 {
  color: #c2c0b6;
}

#ResourceModal .modal-dialog {
  min-width: 650px;
}

#ResourceModal .card-columns {
  column-count: 2;
}
#ResourceModal .card {
  background-color: #ffcc33;
  position: relative;
}

#ResourceModal .card .card-body {
  display: flex;
  align-items: center;
  padding: 0;
}

#ResourceModal .card i {
  font-size: 1.6rem;
  margin: 1rem;
}
#ResourceModal .card .card-title {
  margin: -10px 0 0 0;
  text-align: left;
}

#ResourceModal .card .card-text {
  text-align: left;
  font-size: 1rem;
  line-height: 1rem;
  color: #72777d;
}

#ResourceModal .card &:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
  font-family: "Font Awesome 5 Free";
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  background-color: white;
  color: #ffcc33;
  border-radius: 50%;
  padding: 4px;
}

#ResourceModal .card.collapsed {
  background-color: white;
  &:after {
    display: none;
  }
}

#ResourceModal form.pfFormInput {
  border-top: 1px solid #dadada;
  margin-top: 2em;
}

#ResourceModal form.pfFormInput div.pfPageNameWithoutNamespace {
  width: 75%;
}

#ResourceModal form.pfFormInput div.pfPageNameWithoutNamespace .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
  background-color: #ffcc33;
}

#catlinks {
  max-width: 1110px;
  margin: 2rem auto;
}

.navbar-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /*z-index: 999;
	padding: 0.5rem 0;*/
}

.p-navbar {
  background-color: white !important;
}

.p-navbar #searchform {
  margin-top: 0;
}

.p-navbar input[name="search"] {
  background-color: rgba(#dadada, 0.4);
  border: 1px solid #dadada;
  border-radius: 3px;
  box-shadow: none;
  border-right: 0;
  height: 3rem;
}

.p-navbar #mw-searchButton {
  border: 1px solid #dadada;
  border-left: 0;
  box-shadow: none;
  background: rgba(#dadada, 0.4);
}

.p-navbar .nav-item a {
  color: black !important;
  text-decoration: none;
  font-weight: 600;
  line-height: 2rem;
}

.p-navbar .wf-top-button button {
  background-color: #ffcc33;
  border-radius: 5px;
  color: white;
  border: 0;
  line-height: 3rem;
  padding: 0 1rem;
}

.p-navbar .wf-top-button button:hover {
  color: black;
}
.p-navbar .navbar-nav .navbar-tools {
  padding-right: 0;
}

.p-navbar .navbar-more-tools:before {
  content: "\f013";
}

.p-navbar .wiki-tools a.dropdown-toggle {
  font-size: 0;
}

.p-navbar .wiki-tools a {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
.p-navbar .wiki-tools a::before {
  font-size: 1rem;
  color: #333333 !important;
}

.p-navbar .wiki-tools a:after {
  display: none;
}

.p-navbar .navbar-nav .navbar-tools {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.home-hero {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
}

.home-hero .home-hero--background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  background-size: cover;
  background-position: bottom;
}

.home-hero .home-hero--background::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #ffcc33;
  background: linear-gradient(90deg, rgba(255, 204, 51, 1) 0%, rgba(255, 204, 51, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.home-hero .container {
  height: 100%;
}

.home-hero h1,
.home-hero h1 a,
.home-hero h1 a.new,
.home-hero h1 a.new:hover,
.home-hero h1 a.new:visited,
.home-hero h2,
.home-hero h2 a,
.home-hero h2 a.new,
.home-hero h2 a.new:hover,
.home-hero h2 a.new:visited {
  border: none;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.home-hero h1 {
  padding-top: 4rem;
}

.home-hero h2 {
  font-weight: 300;
  padding-bottom: 6rem;
}

.home-hero .home-hero--buttons {
  align-self: center;
}
.home-hero .home-hero--buttons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-hero .home-hero--buttons ul li {
  background: #ffffff;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 30%;
}
.home-hero .home-hero--buttons ul li a,
.home-hero .home-hero--buttons ul li a.new {
  color: black;
  font-weight: 600;
  display: block;
  font-size: 1.1rem;
}
.home-hero .home-hero--buttons ul li a::after,
.home-hero .home-hero--buttons ul li a.new::after {
  content: ">";
  display: block;
  float: right;
  color: #c2c0b6;
  font-weight: 300;
}

.home-section {
  padding: 2rem 0;
}

.home-resources {
  background-color: #fffbee;
  margin-right: -15px;
  margin-left: -15px;
}

.home-resources .tabs-content h4.tabs-more a {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px solid #c2c0b6;
  border-radius: 3px;
  padding: 0.8rem;
  margin-top: 2rem;
  color: #555555;
}

.home-about {
  background-color: white;
  margin-right: -15px;
  margin-left: -15px;
}
.home-about .card .card-header {
  margin: 0;
  padding: 0;
  background-color: white;
  border-bottom: 0;
}
.home-about .card .card-header p {
  margin: 0;
}
.home-about .card .card-header img {
  border-radius: 3px 3px 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.home-about .mw-changeslist .mw-changeslist-legend {
  display: none;
}

.home-about .mw-changeslist .mw-rcfilters-ui-highlights,
.home-about .mw-changeslist .mw-changeslist-line-prefix,
.home-about .mw-changeslist .mw-enhancedchanges-arrow-space,
.home-about .mw-changeslist-line-inner-separatorAfterLinks,
.home-about .mw-changeslist-line-inner-characterDiff,
.home-about .mw-plusminus-pos,
.home-about .mw-diff-bytes,
.home-about .mw-changeslist-line-inner-separatorAftercharacterDiff,
.home-about .mw-changeslist-line-inner-userTalkLink .home-about .changedby,
.home-about .mw-changeslist-separator,
.home-about .mw-enhanced-rc .mw-enhanced-rc {
  display: none !important;
}

.home-about table.mw-enhanced-rc {
  margin-bottom: 1rem;
}

.home-support {
  clear: both;
  background-color: #fffbee;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 6rem;
}

.home-support #toc {
  display: none;
}

.home-support .support-block h4 {
  font-weight: 600;
  font-size: 1.6rem;
}
.home-support .support-block p {
  font-size: 0.9rem;
}

.home-support .support-buttons {
  text-align: center;
  margin-top: 2rem;
}

.home-support .support-buttons a,
.home-support .support-buttons a:visited,
.home-support .support-buttons a:hover {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #c2c0b6;
  color: #555;
  margin: 0 1rem;
  text-decoration: none !important;
}
.home-support .support-buttons a:last-child {
  background-color: #ffd009;
  border: 1px solid #ffcc33;
  color: black;
}

.tabs {
  margin: 2rem 0 !important;
}

.tabs .tabs-content {
  width: 100%;
}

.tabs .tabs-label {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 3px solid transparent !important;
  background-color: transparent !important;

  transition-property: border-bottom;
  transition-duration: 1s;
  transition-delay: 0;
}

.tabs .tabs-label:hover {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 3px solid #ffcc33 !important;
  background-color: transparent !important;
}

.tabs .tabs-container {
  border: none !important;
  border-radius: 0 !important;
  border-top: 1px solid #c2c0b6 !important;
  margin-top: 0 !important;
}

.movilab-footer {
  margin-right: -15px;
  margin-left: -15px;
  padding: 4rem 0 1rem;
  background-color: black;
}

.movilab-footer #toc {
  display: none;
}

.movilab-footer a,
.movilab-footer a:visited,
.movilab-footer a:hover,
.movilab-footer p {
  color: #fffbee !important;
  font-size: 0.9rem;
  text-decoration: none !important;
}
.movilab-footer h4 {
  font-weight: 600;
  color: #ffcc33;
}
.movilab-footer ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0;
}

.movilab-footer .social {
  padding: 2rem 0 1rem;
}
.movilab-footer .social h4 {
  display: inline;
}
.movilab-footer .social ul,
.movilab-footer .social ul li {
  display: inline-block;
}

.footer {
  background-color: black;
}
.footer .footer-main {
  padding: 2rem 0;
  border-top: 1px solid #555;
  background-color: black;
}

.footer a,
.footer a:visited,
.footer a:visited a:hover {
  color: white !important;
}

/* Standard Page */

.mw-body {
  margin: 0;
  padding: 0;
}

body:not(.page-Accueil) .mw-body .bodyContent #mw-content-text,
body:not(.page-Accueil) .mw-body .contentHeader {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

body:not(.page-Accueil) .mw-body .bodyContent .mw-parser-output > .mw-parser-output {
  margin-bottom: 60px;
}

body:not(.page-Accueil) .mw-body .mw-parser-output > .mw-parser-output {
  position: relative;
}

body:not(.page-Accueil) .mw-body .mw-parser-output > .mw-parser-output .document.aside {
  width: 350px;
  min-height: 90vh;
  float: right;
  margin-left: 30px;
  padding-left: 15px;
  margin-bottom: 120px;
}

.mw-semantic-template li img {
  max-width: 100%;
  height: auto;
}

.mw-semantic-template,
.mw-semantic-template > li ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.mw-semantic-template > li {
  border-bottom: 1px solid grey;
  padding: 1rem 0.5rem;
}

#toc {
  background-color: white;
  border: none;
  padding: 0;
}

#toc .toctitle {
  text-align: left;
}

:not(:checked) > .toctogglespan::before {
  content: "" !important;
}

.toctogglecheckbox + .toctitle .toctogglelabel,
.toctogglecheckbox:focus + .toctitle .toctogglelabel {
  text-decoration: none !important;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
}

:not(:checked) > .toctogglespan::after {
  content: "" !important;
}

.toctogglecheckbox:checked + .toctitle .toctogglelabel::after {
  content: "Sommaire \2304" !important;
}

.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel::after {
  content: "Sommaire \2303" !important;
}

.mw-body .toc .toctitle h2 {
  display: none !important;
}

.mw-body .toc .toctitle .toctogglespan {
  margin-left: 0 !important;
}

/* WfExplore */

body.mw-special-WfExplore #mw-content-text {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

body.mw-special-WfExplore,
body.rootpage-Event {
  background-color: white;
}

.mw-special-WfExplore .search-section {
  background-color: black;
}

.mw-special-WfExplore .search-section .WFfilter::after {
  content: "";
  display: block;
  clear: both;
}

.mw-special-WfExplore .search-section a,
.mw-special-WfExplore .search-section a:visited {
  color: white;
}

.mw-special-WfExplore .search-section .WFfilter ul {
  list-style: none;
}

.mw-special-WfExplore .search-section .WFfilter ul .btn {
  background: white;
  border: 1px solid lightgray;
  color: black;
}
.mw-special-WfExplore .search-section .WFfilter ul .btn:hover {
  background: #ffcc33;
}

.search-filters-section.wfexplore-proposedTags {
  display: none;
}

.mw-special-WfExplore .search-filters-section {
  background-image: none;
  background-color: #ffcc33;
  color: black;
}
.mw-special-WfExplore .search-filters-section .category-filter-title {
  color: black;
}

.wfexplore-selectedLabels span.label {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
}
.search-filters-section span.remove {
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
}
#wfExplore-wfe2 span.dynatree-node a {
  color: black;
}
