<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="project-card">
		<a href="{{url}}">
			<div class="row">
  				<div class="col-md-2 col-sm-2 col-xs-2">
					<div class="project-thumbnail-common"><img src="{{Main_Picture::url}}"  alt="{{Main_Picture}}"/></div>
				</div>
				<div class="col-md-8 col-sm-10 col-xs-10">
			<div class="project-card-content">

				<h5 class="project-title">
					<span class="mw-headline">{{title}}service</span>
				</h5>
				<p class="project-byline">{{Theme}}service</p>
				<div class="project-blurb">{{description}}service</div>
			</div>
		</a><a href="{{creatorUrl}}"><div class="project-card-author">
				<div class="project-card-author-picture roundborder"><div class="image">{{creatorAvatar}}</div></div>
				<div class="project-card-author-info">
					<div class="author-name"><p>{{creator}}</p></div>
					<!--<div class="author-popularity">
						<p><span class="author-followers">XXXX followers</span>
						<span class="author-viewers">XXX makers</span>
						</p>
					</div>-->
				</div>
			</div>
			</a>
			</div>
		</div>
	</div>
</div>


